version: '3'
services:
  mongo:
    image: mongo:latest
    volumes: 
      - ./db:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
  flint:
    build: 
      context: ./flintapp
    ports:
      - "4000:4000"
    command: sh -c "/wait && npm start"
    volumes:
      - ./flintapp/templates:/usr/src/app/templates
      - ./flintapp/public:/usr/src/app/public
      - ./flintapp/scss:/usr/src/app/scss
      - ./flintapp/index.js:/usr/src/app/index.js
    links:
      - mongo
    environment:
        WAIT_HOSTS: mongo:27017
        NODE_ENV: production
        DB_URL: mongo
        DB_HOST: mongo
        DB_USER: admin
        DB_PASS: password
        SESSION_SECRET: INWZA007
